#bgVideo, #bgOverlay, #bgTile{
    height: 100vh;
    width: 100vw;
    left: 0;
    top: 0;
    position: fixed;
}

#bgVideo{
    z-index: -100;
}
#bgOverlay{
    bottom: 0;
    background: rgba(255, 255, 255, 0.6);
    z-index: -90;
}
#bgTile{
    background-color: lightgrey;
    background-image: url("../images/bg.png");
    background-repeat: repeat;
    z-index: -110;
}