#title{
    color: maroon;
    font-size: 400%;
    margin-left: 50px;
    margin-top: 20px;
    position: absolute;
}
.log{
    height: 50px;
    width: 100px;
}
.up{
    margin-top: 20px;
    margin-right: 10px;
    float: right;
}
.logSign{
    margin-right: 10px;
    height: 30px;
}
header{
    z-index: 20;
    height: 100px;
}
footer{
    bottom: 0;
    position: fixed;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}
#btn_logout{
    border: 0;
}
#wtLink{
    text-decoration: none;
    color: maroon;
}