@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{
  margin: 0;
}

#routeHome{
  /* background-color: yellow; */
}
.dance{
  font-family: 'Dancing Script',Arial, Helvetica, sans-serif;
}
#bg{
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.log{
  height: 50px;
  width: 100px;
  background-color: green;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}