@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Dancing+Script');

body{
  margin: 0;
}

#mainContent, #funContent{
  width: 60%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
#homeContent{

}

#routeHome{
  /* background-color: yellow; */
}
.dance{
  font-family: 'Dancing Script',Arial, Helvetica, sans-serif;
}
.rubik{
  font-family: 'Rubik',Arial, Helvetica, sans-serif;
}
.marker{
  font-family: 'Permanent Marker',Arial, Helvetica, sans-serif;
}
#bg{
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}

.log{
  height: 50px;
  width: 100px;
}

#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}