#navigation{
    width: 100%;
}

#navWrapper{
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.navLink{
    width: 200px;
    display: inline-block;
}
.homeOptions{
    background-color: maroon;
    color: white;
    height: 50px;
    width: 200px;
    border-radius: var(--searchBorderRad);
    padding: 17px;
    text-align: center;
    align-content: center;
    margin: 0 auto;
    margin-bottom: 30px;
}