#searchWine{
    margin: 0 auto;
    margin-top: 50px;
    display: block;
    width: fit-content;
    padding: 0 auto;
}
#searchWineBody{
    text-align: center;
}
#profile{
    width: 60%;
    margin: 0 auto;
    position: relative;
}

#wineryList, #grapeSearch{
    display: block;
    width: 100%;
    margin: 0 auto;
}


#searchInputArea{
    display: block;
    text-align: center;
    width: fit-content;
    position: relative;
    height: fit-content;

}   

#chkGrape{
    left: 0;
    top: 0;
    padding-top: 10%
}
#grapeChkBody{
    height:70%;
    width: 70%;
    padding: 20px 20px;
    display: block;
    margin: 0 auto;
    margin-top: 100px;
    background-color: rgba(255,255,255,0.6);
    border-radius: 30px;
}
.grpModal{
    color: white;
    background-color: maroon;
    margin-top: 10px;
    height: 50px;
    width: 200px;
    border-radius: var(--searchBorderRad);
    border: 0;
    cursor: pointer;
}
.checkMark{
    /* position: absolute; */
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}
#addWine{
    margin-top: 50px;
}
