:root{
    --h_color: rgb(0, 176, 240);   /*  00aff0  */
    --firstColor: rgb(128, 0, 0);
    --firstColor_a7: rgba(0, 176, 240, 0.7);
    --secondColor: grey;
    --thirdColor: #F3B116;
    --bx_shadow: 5px 5px 15px grey;
    --tx_shadow: 1px 1px 3px dimgray;
    --headerHeight: 100px;
    --fontColor: rgb(20, 20, 20);

    --sectionFade: rgba(255, 255, 255, 0.8);
    --searchBorderRad: 10px;
}